[submodule "libs/chacha20-c"]
	path = libs/chacha20-c
	url = https://github.com/Ginurx/chacha20-c.git
[submodule "libs/poly1305-donna"]
	path = libs/poly1305-donna
	url = https://github.com/floodyberry/poly1305-donna
[submodule "src/libs/xchacha20"]
	path = src/libs/xchacha20
	url = https://github.com/spcnvdr/xchacha20.git
[submodule "src/libs/rs232"]
	path = src/libs/rs232
	url = https://github.com/Marzac/rs232.git
[submodule "src/libs/micro-ecc"]
	path = src/libs/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
[submodule "src/libs/ascon-c"]
	path = src/libs/ascon-c
	url = https://github.com/ascon/ascon-c.git
[submodule "src/libs/csiphash"]
	path = src/libs/csiphash
	url = https://github.com/majek/csiphash.git
[submodule "src/libs/tiny-AES-c"]
	path = src/libs/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
